{% extends 'base.html' %}

{% block content %}

<div class="container d-flex widthLimit">
    <!-- <img src="../../static/images/Headshot_Kevin Stewart_BW_small.jpg" alt="Kevin Stewart" class="headShot"> -->
    
    <div class="">
        <br><br>
        <p><b>OVERVIEW</b><br>
            I’m new to tech!  After contemplating a career change since 2019, I took the plunge and began teaching myself Python beginning in November 2021.  
            I later enrolled in a coding bootcamp during the first quarter of 2022, and after successfully completing it, I have been working on my own projects while looking for my first tech job.  
            Because my training was full-stack, I have continued learning advanced techniques with the stack covered during my bootcamp, and have made several projects with it since.  
            In addition to project work I enjoy learning new languages and tools, thinking up new app ideas, and turning vision into reality. 
            I geek out on system diagramming, and have spent hours adjusting Entity Relationship Diagrams tailored to specific business models - it’s fun!</p>
        <hr>

        <p><b>PREVIOUS WORK EXPERIENCE</b><br>
            Prior to entering tech I spent almost a decade working as a Landscape Architect; first as a designer, then licensed professional, and finally as a project manager.  
            During that experience I had the chance to work on nearly every project type imaginable while gaining valuable skills that are transferable to any type of project work.  
            I have project management experience and have worked in both domestic and international settings (US, Germany, Saudi Arabia), with teammates and clients from around the world.              
            The projects I oversaw were complicated and required the coordination of many disciplines having overlapping scopes.  Over time I became adept at negotiating the ambiguous zone where responsibilities overlap (and sometimes conflict).  
            The skills I bring with me from architectural design have proven to be relevant in tech, and I look forward to expanding them as my professional journey continues to evolve.
        </p>
        <hr>

        <p><b>WHY PIVOT INTO TECH?</b><br>  
            In a word: <i>growth</i>.  The growth and opportunity available in the tech sector are unrivaled to any other, and with some effort and continued learning it is very accessible.  
            Also, and importantly, I find it very interesting. Because technology has become so integrated into daily life, its influence has an outsized effect on our lived experiences.  
            In the same way I once aspired to improve the world through better spatial design, I believe even more potential exists to improve the world, and our day-to-day experiences, through better technology.  
            At the onset of Web 3.0 and a wave of industry disrupting innovations, there is perhaps no better time to join this change and contribute to it.
        </p>
        <hr>

        <p><b>TECH TRAINING</b><br>  
            In early 2022 I attended a full-time coding bootcamp with <a href="https://codingtemple.com/full-time-python-bootcamp/" target="_blank" class="normalLink">Coding Temple</a>. 
            Their program provided comprehensive training in the fundamentals of computer science and full-stack web development.  
            Since completing the program I have continued to self-teach and further my understanding of software engineering.           
        </p>
        <hr>

        <p><b>FORMAL EDUCATION</b><br>  
            I have a Bachelor’s degree in Urban and Regional Planning and Master’s in Landscape Architecture from the University of Illinois at Urbana-Champaign.      
        </p>

        <br><br>
    </div>

</div>

{% endblock content %}