{% extends 'base.html' %}

{% block content %}

<div class="container d-flex widthLimit">
    <!-- <img src="../../static/images/Headshot_Kevin Stewart_BW_small.jpg" alt="Kevin Stewart" class="headShot"> -->
    
    <div class="">
        <br><br>
        <h1 class="display-3">The tl;dr</h1>
        <br>
        <p class="lead">I'm a not-so old dog, learning new tricks...</p>
        <!-- <hr class="my-4"> -->
        
        <p>Although I'm relatively new to tech, something something something.</p>
        <p>I've done a couple of projects ....</p>
        <p>I used to be a landscape architect ....</p>
        <br>
    </div>

</div>

{% endblock content %}