{% extends 'base.html' %}

{% block content %}

<div class="container d-flex widthLimit">
    <!-- <img src="../../static/images/Headshot_Kevin Stewart_BW_small.jpg" alt="Kevin Stewart" class="headShot"> -->
    
    <div class="">
        <br><br>
        <h3 class="display-5">Overview</h3>
        <hr>
        <!-- <br> -->
        <!-- <p class="lead">I'm a not-so old dog, learning new tricks...</p> -->
        <!-- <hr class="my-4"> -->
        
        <p>I’m new to tech!  After thinking about a career switch into the field since 2019, 
            I finally took the plunge and began teaching myself Python starting November 2021.  
            I later enrolled in a coding bootcamp during the first quarter of 2022, and after 
            successfully completing it have since been working on my own projects and looking 
            for my first tech job.  Because my coding training was full-stack, I have continued 
            learning advanced techniques with the stack covered during my bootcamp (Python, Flask, PostgreSQL, HTML, CSS), 
            and have built out several projects with it since.  In addition to project work I enjoy 
            learning new languages and tools, thinking up new app ideas, and turning vision into reality. 
            I geek out on system diagraming generally, and have spent hours adjusting 
            Entity Relationship Diagrams tailored to specific business models.</p>
        
        <br>
        <h3 class="display-5">tl:dr</h3>
        <hr>

        <p>PREVIOUS WORK EXPERIENCE<br>
            Prior to entering the tech field, I spent 8+ years working as a Landscape Architect; 
            first as a designer, then licensed professional, and later as a project manager.  
            During that time I had the chance to work on nearly every project type imaginable: 
            high-end residential (aka fancy homes and estates), urban street-scapes, corporate campuses, 
            ommercial retail, and rooftop amenity decks (think pool lounges on skyscraper rooftops).  
            I have project management experience and have worked in both domestic and international environments 
            (US, Germany, Saudi Arabia), with teammates and clients from around the globe.  
            Although there isn’t a direct translation between landscape architecture and web development, 
            the projects I oversaw were complicated and required the coordination of many disciplines and sub-consultants.  
            The skills I bring with me from that line of work is the ability to engage in whole systems thinking, 
            process strategy, and with strong attention to detail along the way.
        </p>

        <p>WHY PIVOT INTO TECH?<br>  
            In a word: <b>growth</b>.  And also, why not?  The growth and opportunity available in the technology sector
            is unrivaled to any other, and with some effort and continued learning it is surprisingly accessible.  It's also fun! 
            After contemplating a career change and watching numerous other landscape colleges make the switch over the years, 
            I finally got my nerve together and took the plunge when I had the chance, and I’m glad I did.          
        </p>

        <p>FORMAL SCHOOLING<br>  
            I have a bachelor’s degree in Urban and Regional Planning 
            and master’s in Landscape Architecture from the University of Illinois at Urbana-Champaign.           
        </p>
        
        <p>INFORMAL SCHOOLING<br>  
            The coding bootcamp I alluded to earlier was through <a href="https://codingtemple.com/full-time-python-bootcamp/" target="_blank" class="normalLink">Coding Temple</a>,
            and took place between January to March of 2022.  
            I’m classifying it as “informal” education because it is not an accredited institution, 
            but no less provides comprehensive education in the fundamentals of full-stack web development + data analysis.       
        </p>

        <br><br>
    </div>

</div>

{% endblock content %}