{% extends 'base.html' %}

{% block content %}


<!-- page content here -->
<div class="container align-self-center d-flex flex-column justify-content-center widthLimit indexMain">
    <img src="../../static/images/Headshot_Kevin Stewart_BW_small.jpg" class="align-self-center headShot" alt="">
    <div class="text-center mb-3">
      
        <h2 class="display-5">Hi, I'm Kevin.</h2>
        <h5 class="lead">I'm a full-stack developer and landscape architect. I like to build things and solve problems. </h5>
            
        <hr class="" >
        <p class="lead"> Python // Flask // PostgreSQL // HTML // CSS // JavaScript </p>
            <!-- <br>  I am passionate about innovation, efficiency, and product design.</p> -->
        <!-- <p class="lead">I built this website to showcase: <br> who I am // what I like to do // what I can do for you</p> -->
        <br>
    </div>

    <div class="container d-flex justify-content-around flex-wrap md-7">

        <div class="text-center homeIcons">
            <a href="{{ url_for('site.about') }}">
                <img src="../../static/images/head_vector5.png" alt="About" class="homeIcon">
            </a>
            <h4>About Me</h4>
        </div>
        
        <div class="text-center homeIcons">
            <a href="{{ url_for('site.projects') }}">    
                <img src="../../static/images/webdev1.png" alt="Projects" class="homeIcon">
            </a>
            <h4>My Work</h4>
        </div>

        <div class="text-center homeIcons">
            <a href="{{ url_for('site.contact') }}">
                <img src="../../static/images/connect2.png" alt="Contact" class="homeIcon">
            </a>
            <h4>Let's Connect!</h4>
        </div>
    </div>

<!-- end width limit -->
</div>

{% endblock content %}