{% extends 'base.html' %}

{% block content %}


<!-- page content here -->
<div class="container align-self-center widthLimit">

    <div class="jumbotron text-center mb-3">
        <br><br>
        <h1 class="display-3">Hello, world!</h1>
        <br>
        <p class="lead">I built this website to showcase who I am, what I like to do, and what I can do for you.</p>
        <hr class="my-4">
        <br>
    </div>

    <div class="container d-flex justify-content-around flex-wrap md-7">

        <div class="text-center homeIcons">
            <a href="{{ url_for('site.about') }}">
                <img src="../../static/images/head_vector5.png" alt="About" class="homeImage">
            </a>
            <h4>About Me</h4>
        </div>
        
        <div class="text-center homeIcons">
            <a href="{{ url_for('site.projects') }}">    
                <img src="../../static/images/webdev1.png" alt="Projects" class="homeImage">
            </a>
            <h4>My Work</h4>
        </div>

        <div class="text-center homeIcons">
            <a href="{{ url_for('site.contact') }}">
                <img src="../../static/images/connect2.png" alt="Contact" class="homeImage">
            </a>
            <h4>Let's Connect!</h4>
        </div>
    </div>

<!-- end width limit -->
</div>

{% endblock content %}