{% extends 'base.html' %}

{% block content %}

<div class="container">

<br><h2>Campus Design</h2><br>

<!-- page content goes here -->
<div class="d-flex flex-wrap">
<div class="card">
  <img src="../../static/images/zna_1.JPG" class="card-img-top" alt="Zurich North America">
    <div class="card-body">
      <h5 class="card-title">ZNA</h5>
      <p class="card-text">A large corperate campus for Zurich Insurance North America</p>
      <a href="{{ url_for('landscape.zna') }}" class="btn btn-outline-light projectLink">View Project</a>
    </div>
</div>

<div class="card">
  <img src="../../static/images/mci_1.JPG" class="card-img-top" alt="Ministry of Commerce & Industry">
    <div class="card-body">
      <h5 class="card-title">MCI</h5>
      <p class="card-text">Landscapes for a governmental ministry in Saudi Arabia</p>
      <a href="{{ url_for('landscape.mci') }}" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
</div>

<!-- <div class="card">
  <img src="../../static/images/mci_1.JPG" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">#</h5>
      <p class="card-text">#</p>
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
</div> -->
</div>

<hr>
<h2>Commercial Projcets</h2><br>

<div class="d-flex flex-wrap">
  <div class="card">
    <img src="../../static/images/title_town_1.JPG" class="card-img-top" alt="Title Town Plaza">
    <div class="card-body">
      <h5 class="card-title">Title Town Park</h5>
      <p class="card-text">A park for Greenbay Packers fans adjacent to Lambeau Field</p>
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
  </div>
  <div class="card">
    <img src="../../static/images/qua_1.JPG" class="card-img-top" alt="Mall of Buraidah">
      <div class="card-body">
        <h5 class="card-title">Buraidah Mall</h5>
        <p class="card-text">Landuse plan and shopping mall layout in Saudi Arabia</p>
        <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
      </div>
  </div>

  <!-- <div class="card bg-light text-white" style="width: 18rem; height: 16rem;">
    <a href="{{ url_for('site.home') }}">
    <img src="../../static/images/qua_1.JPG" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title" style="color: black;">Buraidah Mall</h5>
      <p class="card-text" style="color: black;">Landuse plan and shopping mall layout in Saudi Arabia</p>
    </div>
  </a> -->
  </div>

<hr>
<h2>On-Structure Landscapes</h2><br>

<div class="d-flex flex-wrap">
  <div class="card">
  <img src="../../static/images/mart_park_1.JPG" class="card-img-top" alt="Merchandise Mart">
    <div class="card-body">
      <h5 class="card-title">Park at the Mart</h5>
      <p class="card-text">A privately owned, public accessible, linear park in downtown Chicago.</p>
      <!-- <hr>
      <b>Stack:</b> HTML, CSS, Bootstrap, JavaScript, Axios
      <hr> -->
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
  </div>
  <div class="card">
  <img src="../../static/images/lakeshore_east_axon.JPG" class="card-img-top" alt="Merchandise Mart">
    <div class="card-body">
      <h5 class="card-title">Lakeshore East</h5>
      <p class="card-text">Green roofs, amenity decks, parks, and at-grade landscapes for two residential towers</p>
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
  </div>
</div>

<hr>
<h2>Residential Projcets</h2><br>

<div class="d-flex flex-wrap">
  
  <div class="card">
  <img src="../../static/images/sunset_1.JPG" class="card-img-top" alt="Sunset Residence">
    <div class="card-body">
      <h5 class="card-title">Sunset Residence</h5>
      <p class="card-text">Residential landscape rehabilitation for a charming 1920's era estate</p>
      <!-- <hr>
      <b>Stack:</b> HTML, CSS, Bootstrap, JavaScript, Axios
      <hr> -->
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
  </div>

  <div class="card">
  <img src="../../static/images/rose_spur_1.JPG" class="card-img-top" alt="Rose Spur">
    <div class="card-body">
      <h5 class="card-title">Rose Spur Ranch</h5>
      <p class="card-text">Landscape design for a hobby ranch in Old Snowmass, CO</p>
      <!-- <hr>
      <b>Stack:</b> HTML, CSS, Bootstrap, JavaScript, Axios
      <hr> -->
      <a href="#" class="btn btn-outline-light projectLink disabled">Coming Soon</a>
    </div>
  </div>

</div>
</div>

{% endblock content %}