{% extends 'base.html' %}

{% block content %}

<div class="container">
<br>
<h2><i>P R O J E C T S . . .</i></h2>
<br>
<!-- page content goes here -->
<div class="d-flex justify-content-center flex-wrap">

<div class="card" style="width: 18rem;">
  <img src="../../static/images/tangeman1.JPG" class="card-img-top" alt="Tangeman Tree Care">
    <div class="card-body">
      <h5 class="card-title">Tangeman Tree Care, LLC</h5>
      <p class="card-text">Custom website for a tree care business in Wisconsin.<br> 
        <b>Frontend:</b> HTML5, CSS, Bootstrap<br>
        <b>Backend:</b> Python, Flask, PostgreSQL</p>
      <a href="https://tangeman-tree-care.herokuapp.com/" class="btn btn-outline-dark" target="_blank">Check it out!</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="../../static/images/avalanchr.jpg" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">AvalanchR </h5>
      <p class="card-text">An eCommerse platform to help the suppliers of hard-to-describe outdoor construction materials better showcase their inventories to potential buyers.<br> 
        <b>Frontend:</b> HTML5, CSS, Bootstrap<br>
        <b>Backend:</b> Python, Flask, PostgreSQL</p>
      <a href="#" class="btn btn-outline-dark disabled" target="_blank">comming soon</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="../../static/images/weather_app.JPG" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Basic Weather App</h5>
      <p class="card-text">A small project that helps you know what weather is going on where</p>
      <b>Frontend:</b> HTML5, CSS, Bootstrap, JavaScript, Axios
      <br>
      <a href="{{ url_for('project.weatherapp') }}" class="btn btn-outline-dark">What the Weather?</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
  <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">This Website</h5>
      <p class="card-text">A basic portfolio website to showcase myself and my work, thanks for stopping by!<br> 
        <b>Frontend:</b> HTML5, CSS, Bootstrap<br>
        <b>Backend:</b> Python, Flask</p>
      <a href="#" class="btn btn-outline-dark disabled">You're already here!</a>
    </div>
  </div>
  
  <!-- <div class="card" style="width: 18rem;">
  <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="#">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Project description...  </p>
      <a href="#" class="btn btn-primary" target="_blank">Check it out!</a>
    </div>
  </div> -->

</div>







</div>

{% endblock content %}