/* *{border: red 1px solid;} */

/* ALL PAGES start */
body{
    /* background-color:rgb(99, 99, 99);
    color: white; */
    /* what we already have */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* what we're adding */
    display: flex;
    flex-direction: column;
}
.main {
    /* min-height: 83vh; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, lightblue, white);
    /* background-color: lightblue; */
}
.widthLimit{
    max-width: 900px;
}
.view-width-70{
    width: 70vw;
}

/* NAV BAR start */
.nav-item{
    margin-left: 25px;
}
.navbar-brand{
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-brand:hover{
    transform: scale(1.01);
    text-decoration: underline;
}
a.nav-link{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
a.nav-link:hover{
    transform: scale(1.01);
    text-emphasis-color: lime;
    text-decoration: underline;
}
/* NAV BAR end */

/* FOOTER start */
.copyright{
    color: rgba(255, 255, 255, 0.4);
    font-size: small;
    /* background-color: rgb(3, 3, 3); */
    /* height: 35px; */
    /* width:100%; */
}
/* FOOTER end */
/* ALL PAGES end */

/* INDEX start */
.index-intro{
    border-top: 1px black dotted;
    padding-top:9px;
}
.skills{
    padding: 2%;
    background: repeating-linear-gradient(
    -45deg,
    rgb(250, 250, 250, 0.5),
    rgba(250, 250, 250, 0.5) 5px,
    rgba(252, 250, 250, 0) 5px,
    rgba(252, 250, 250, 0) 10px);
}
.skills>h4{
    /* font: 800 40px Arial; */
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: black; */
  margin-bottom: 2%;
}

.skills>div>div>ul{
    padding-top: 5%;
    list-style: square;
    border-top: 1px black dotted;
}
.skills>div>div>p{
    margin-bottom: 3%;
    /* font-style:bold; */
}
.homeIcon{
    border-radius: 50%;
    border: 7px rgba(0, 0, 0, .6) solid;
    margin-bottom: 2%;
    max-height:150px;
    /* opacity: 0.5; */
}
.homeIcon:hover{
    transform: scale(1.03);
    border: 7px rgba(0, 0, 0, 0.8) solid;
    /* opacity: 1.0; */
}
/* div.homeIcons:hover{
    text-decoration: underline;
} */
.indexMain{
    margin-bottom: 5vh;
}



/* ABOUT start */
.left-border{
    border-left: 1px rgba(22, 22, 22, 0.3) solid;
    padding-left: 25px;
}
.normalLink{
    /* text-decoration: none; */
    color:black;
}
.headShot{
    margin-bottom: 2vh;
    margin-right: 25px;
    height: 220px;
    width: 220px;
    /* border: 1px rgba(0, 0, 0, .9) solid; */
    object-fit: cover;
    /* background-image: url("../../static/images/Headshot_Kevin Stewart_BW_small.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat; */
}
/* .headShot:hover{
    background-image: url("../../static/images/Headshot_Kevin Stewart_BW_tech3.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position-x: -45px;
    background-position-y: -35px;
} */

/* CONTACT start */
.messageForm{
    /* margin-left: 2%; */
    max-width: 600px;
    margin-top: 5em;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border: 1px black solid;
    border-radius: 3px;
}

.form-control{
    background-color: rgba(128, 128, 128, 0.342) !important;
    border-color: black;
    /* font-weight: 800; */
}
/* CONTACT end */


/* PROJECTS start */
.card-img-top{
    height: 350px;
    width: auto;
    object-fit: cover;
}
.card{
    width: 18rem;
    margin-right: 2%;
    margin-bottom: 2%;
    opacity: .8;
    background-color: rgb(43, 42, 42);
    color: white;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
}
.projectLink{
    display: flex;
    justify-content: center;
}
/* CAROUSEL CUSTOMIZATIONS */
.carousel{
    max-width: 80%;
}
.black{
    color: black;
}
.white{
    color: white;
}

/* .previewer-frame{
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #ffffff;
} */
.carousel-attribution{
    /* color:white; */
    position: absolute;
    bottom: -13px;
    right: 10px;
    font-size: 9px;
    font-style: italic;
}
/* .carousel-caption p, h5{
    color: black;
    background-color: rgba(252, 252, 252, 0.453);
} */
.graphic{
    position: relative;
    margin-bottom: 2%;
}
.graphic > img{
    /* border-radius: 10px; */
    max-width: 50vw;
}
.graphic-attribution-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 9px;
    font-style: italic;
}
.graphic-attribution-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 9px;
    font-style: italic;
}
/* PROJECTS end */

/* WEATHER APP start */
.weatherDisplay{
    border: 1px solid black;
    border-radius: 3px;
}
.weatherForm{
    flex-grow: 1;
    margin-left: 5%;
}