/* *{border: red 1px solid;} */

/* ALL PAGES start */
body{
    /* background-color:rgb(99, 99, 99);
    color: white; */
    /* what we already have */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* what we're adding */
    display: flex;
    flex-direction: column;
}

.main {
    /* min-height: 83vh; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, lightblue, white);
    /* background-color: lightblue; */
}

.widthLimit{
    max-width: 900px;
}

/* NAV BAR start */
.navbar-brand{
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-brand:hover{
    transform: scale(1.01);
    text-decoration: underline;
}
a.nav-link{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
a.nav-link:hover{
    transform: scale(1.01);
    text-emphasis-color: lime;
    text-decoration: underline;
}
/* NAV BAR end */

/* FOOTER start */
.copyright{
    color: rgba(255, 255, 255, 0.4);
    font-size: small;
    /* background-color: rgb(3, 3, 3); */
    /* height: 35px; */
    /* width:100%; */
}
/* FOOTER end */
/* ALL PAGES end */


/* INDEX start */
.headShot{
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-right: 2em;
    height: 250px;
    width: 250px;
    border: 7px rgba(0, 0, 0, .8) solid;
    border-radius: 50%;
    object-fit: cover;
    opacity: .9;
}

.homeIcon{
    border-radius: 50%;
    border: 7px rgba(0, 0, 0, .6) solid;
    margin-bottom: 2%;
    max-height:150px;
    /* opacity: 0.5; */
}
.homeIcon:hover{
    transform: scale(1.03);
    border: 7px rgba(0, 0, 0, 0.8) solid;
    /* opacity: 1.0; */
}
/* div.homeIcons:hover{
    text-decoration: underline;
} */
.indexMain{
    margin-bottom: 5vh;
}
/* INDEX end */


/* ABOUT start */
.normalLink{
    /* text-decoration: none; */
    color:black;
}

/* CONTACT start */
.messageForm{
    /* margin-left: 2%; */
    width: 500px;
    margin-top: 5em;
    padding: 2%;
    border: 1px black solid;
    border-radius: 10px;
}

.form-control{
    background-color: rgba(128, 128, 128, 0.342) !important;
    border-color: black;
    /* font-weight: 800; */
}
/* CONTACT end */


/* PROJECTS start */
.card-img-top{
    height: 350px;
    width: auto;
    object-fit: cover;
}
.card{
    margin-right: 2%;
    margin-bottom: 2%;
    opacity: .8;
    background-color: rgb(43, 42, 42);
    color: white
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    opacity: 1;
}
.projectLink{
    display: flex;
    justify-content: center;
}
/* PROJECTS end */

/* WEATHER APP start */
.weatherDisplay{
    border: 1px solid black;
    border-radius: 3px;
}
.weatherForm{
    flex-grow: 1;
    margin-left: 5%;
}