{% extends 'base.html' %}
{% block content %}

<div class="container mb-4 d-flex flex-column">
  <h1 class="text-center mt-4"> Zurich Insurance North America</h1>
  <hr>
  <br>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div> -->
    <div class="carousel-inner previewer-frame">

      <div class="carousel-item active">
        <img src="../../static/images/zna_1.JPG" class="d-block w-100" alt="ZNA Bird's Eye">
        <p class="carousel-attribution white">Image by Goettsch Partners</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Zurich Insurance North America</h5> -->
          <!-- <p>Some representative placeholder content for the first slide.</p> -->
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../static/images/zna_4.JPG" class="d-block w-100" alt="ZNA Architecture Image">
        <p class="carousel-attribution white">Image by Goettsch Partners</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Goettsch Building</h5> -->
          <!-- <h5>Architecture prior to landscape design</h5> -->
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../static/images/zna_2.JPG" class="d-block w-100" alt="ZNA Courtyard Perspective, lower level">
        <p class="carousel-attribution white">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <!-- <h5>Inner employee courtyard, lower level.</h5> -->
        </div>
      </div>
 
      <div class="carousel-item">
        <img src="../../static/images/zna_waterfall_detail.JPG" class="d-block w-100" alt="Courtyard Waterfall detail">
        <p class="carousel-attribution black">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <h5 class="black">Courtyard Waterfall Detail</h5>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../static/images/zna_3.JPG" class="d-block w-100" alt="ZNA Courtyard Perspective at ADA ramp">
        <p class="carousel-attribution white">Rendering by Goettsch Partners</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <!-- <h5>Inner employee courtyard ADA path</h5> -->
        </div>
      </div>

    <div class="carousel-item">
      <img src="../../static/images/zna_entry_drive.JPG" class="d-block w-100" alt="ZNA Entry Drive">
      <p class="carousel-attribution white">Created while working at HSLA</p>
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5> -->
        <h5>Entry Drive Visualization</h5>
      </div>
    </div>

      <div class="carousel-item">
        <img src="../../static/images/zna_ellipse_pond.JPG" class="d-block w-100" alt="Approach Drive Rendering">
        <p class="carousel-attribution  white">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <h5>Ellipse Pond</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/zna_stair_axon.JPG" class="d-block w-100 black" alt="Ellipse Ponds Stair Axon">
        <p class="carousel-attribution  white">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <h5 class="black">Ellipse Pond Stair Axon</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/zna_stair_detail.JPG" class="d-block w-100" alt="Ellipse Ponds Stair Detail">
        <p class="carousel-attribution  black">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Stair Detail at Ellipse Pond</h5> -->
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../static/images/zna_nine_eleven_memorial.JPG" class="d-block w-100" alt="Nine-eleven memorial to ZNA employees">
        <p class="carousel-attribution  white">Created while working at HSLA</p>
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <p>9/11 Memorial to fallen Zurich Employees</p>
        </div>
      </div>
    </div>
     
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>

<p class="align-self-center col-7">
  Working with Goettsch Partners and St. Louis based developer Clayco,
  the new campus headquarters for Zurich Insurance North America
  was the largest project I contributed to while working at Hoerr Schaudt. I was
  involved at every stage of the project, from schematic design through
  late construction documents. It was my first experience with corperate campus
  design, and thoroughly introduced me to the design development and
  construction drawing process. 
</p>

<div class="graphic align-self-center">
  <img src="../../static/images/zna_plan_graphic.JPG" alt="Zurich Campus Plan Graphic" class="d-block w-100">
  <div class="graphic-attribution-left">Created while working at HSLA</div>
</div>

<p class="align-self-center col-7">
  In keeping with the LEED platinum building design, 
  most of the landscape is native prairie grassland, with water
  features that collect and reuse on-site runoff. Project completion was achieved during Fall 2016.
</p>

</div>

{% endblock content %}