<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- stylesheet below prob not needed -->
<link rel="stylesheet" href="../static/css/main.css">
<title>Kevin Stewart</title>
<link rel="icon" href="../static/images/favicon_KS.PNG">
</head>
<body>

<!-- start of main -->
<div class="main">
  
 <!-- user nav bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('site.home') }}">Kevin Stewart</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="{{ url_for('site.projects') }}">Tech</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('site.landscapes') }}">Landscape</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('site.about') }}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('site.contact') }}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock content %}

  <!-- end of main -->
</div>

<footer class="bg-dark text-center text-white">

  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" 
          href="https://www.linkedin.com/in/kevin-stewart-03647a24" role="button" target="_blank">
          <i class="fab fa-linkedin-in"></i>
      </a>
        
      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" 
         href="https://github.com/kevin-stew" role="button" target="_blank">
         <i class="fab fa-github"></i>
      </a>
        
      <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" 
            href="https://www.instagram.com/kev_and_stew/" role="button" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <hr class="mb-1">
        <!-- Copyright -->
        <div class="text-center copyright p-1 lead">© 2022 Copyright | Kevin Stewart</div>
        <!-- Copyright -->

      </section>
      <!-- Section: Social media -->
    </div>
    <!-- End of .container -->
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>